.App {
  align-items: flex-start;
  background-color: #262626;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  justify-content: space-between;
  min-height: 100%;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-right: 4rem;
  text-align: center;
}

#champion-grid {
  display: flex;
  width: calc(100% - 30vh);
  flex-flow: row wrap;
  justify-content: flex-start;
}

#filters {
  background-color: #3F3F3F;
  border-style: solid;
  border-radius: 15px;
  border-color: #262626;
  display: flex;
  flex-flow: column nowrap;
  padding: 6px;
  min-width: 30vh;
  min-height: 100%;
}

.filter {
  text-align: left;
}

.champ-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin: 3px;
}

.champ-icon {
  grid-area: 1 / 1 / 1 / 1
}

.champ-overlay {
  grid-area: 1 / 1 / 1 / 1;
}
